<%- include("../partials/head.ejs")  %>
<form action="/locations/<%=id%>?_method=PUT&region=<%=chosenContinent%>" method="post" class="container formBlackBackdrop">
    <div class="row">
        <div class="col text-center">
            <h1>New Location</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="name" >Location Name:</label>
            <input type="text" name="locationName" value="<%= location.locationName %>" id="name" class="formHalfTextbox" placeholder="Hogwarts, Ministry, Etc">
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="continents">Continent:&ensp;</label>
            <select name="continent" class="formHalfTextbox">
                <option value="Africa" <%= (chosenContinent === "Africa") ? "selected" : "" %>>Africa</option>
                <option value="Asia" <%= (chosenContinent === "Asia") ? "selected" : "" %>>Asia</option>
                <option value="Australia" <%= (chosenContinent === "Australia") ? "selected" : "" %>>Australia</option>
                <option value="NorthAmerica" <%= (chosenContinent === "NorthAmerica") ? "selected" : "" %>>North America</option>
                <option value="SouthAmerica" <%= (chosenContinent=== "SouthAmerica") ? "selected" : "" %>>South America</option>
                <option value="Europe" <%= (chosenContinent === "Europe") ? "selected" : "" %>>Europe</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="categories">Category:</label>
            <input type="text" name="category" value="<%= location.category %>" id="categories" class="formHalfTextbox" placeholder="School, Landmark, Etc">
        </div>
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="locale">Location:</label>
            <input type="text" name="location" value="<%= location.location %>" id="locale" class="formHalfTextbox" placeholder="City/Region">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6">
            <label class="formLabelText" for="imageURLS" ">Image URL</label>
        </div>
        <div class="col-lg-6">
            <input type="text" name="imageURL" value="<%= location.imageURL %>" id="imageURLS" class="formFullTextbox mt-3" placeholder="www.imageURL.com" >
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="descriptionField" class="formLabelText">Description:</label>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-flex justify-content-between">
            <textarea id="descriptionField" name="description" rows="4" cols="50" class="formFullTextbox"><%= location.description %></textarea>
        </div>
    </div>  

    <div class="row">
        <div class="col-lg-6 mt-3">
            <button type="button" class="btn hufflepuff fw-bold p-3" onclick="window.location.href='/locations/<%= id %>?region=<%= chosenContinent %>'" >Cancel</button>
        </div>
        <div class="col-lg-6 mt-3">
            <button type="submit" class="btn ravenclaw fw-bold p-3">Submit New Location</button>
        </div>
    </div>
</form>