<%- include("../partials/head.ejs")  %>

<!-- Modal Section -->
<div class="modalViewer">
    <div class="modalMessage text-center p-3">
        <h2>Confirm You Want To Delete The Page For:</h2>
        <br>
        <h1><%= being.firstName + " " + being.lastName %></h1>
        <form action="/beings/<%= being._id %>?_method=DELETE&region=<%= chosenContinent %>" method="post" class=" row d-flex justify-content-around mt-3">
            <!-- Yes Button -->
            <div class="col"><button class="btn gryffindor p-3" type="submit">Yes</button></div>
            <!-- No Button -->
            <div class="col"><button class="btn hufflepuff fw-bold p-3 closeModal" type="button">No</button></div>
        </form>
    </div>
</div>
<!-- End of Modal -->

<div class="container">
    <div class="row">
        <div class="col"><h1 class="text-center"><%= being.firstName + " " + being.lastName %></h1></div>
    </div>
    <div class="centerImage">
        <div class="row largeImageDisplay">
            <img src="<%= being.imageURL %>" alt="" >
        </div>    
    </div>
    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-5 border text-center blackBackground"><p>Mother:<br><%= being.motherName ? being.motherName : "Unknown" %></p></div>
        <div class="col-5 text-center border blackBackground"><p>Father:<br><%= being.fatherName ? being.fatherName : "Unknown"%></p></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 border text-center blackBackground"><p>Birth Place:<br><%= being.birthPlace ? being.birthPlace : "Unknown" %></p></div>
        <div class="col-5 text-center border blackBackground"><p>Alias:<br><%= being.alias ? being.alias : "None" %></p></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col border blackBackground"><p>Categories:<br><%= being.affiliation %></p></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col border blackBackground"><p>Description:<br><%= being.description %></p></div>
        <div class="col-1"></div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-lg-3 mt-3 ">
            <button class="btn ravenclaw fw-bold p-3" type="button" onclick="window.location.href='/beings/<%=id%>/edit?region=<%= chosenContinent %>'">Edit Page<button>
        </div>
        <div class="col-lg-3 mt-3">
            <button class="btn hufflepuff fw-bold p-3" type="button" onclick="window.location.href='/beings?region=<%= chosenContinent %>'">Back To Being List<button>
        </div>
        <div class="col-lg-3 mt-3">
            <button class="btn gryffindor confirmPopup fw-bold p-3">Delete Being Entry</button> 
        </div>     
    </div>  
</div>





