<%- include("../partials/head.ejs")  %>
<div class="row">
    <div class="col text-center">(Nav Bar)</div>
</div>
<div class="row">
    <div class="col text-center">
        <h1 >Edit <%= creature.creatureName %></h1>
    </div>
</div>
<div class="row">
    <div class="col-1 justify-center"></div>
    <div class="col">
        <form action="/creatures/ <%= creature._id %>" method="post">
            <div class="row">
                <div class="col"><p>Species Name:</p></div>
                <div class="col ful"><input type="text" name="creatureName" placeholder="Species Name" value="<%= creature.creatureName %>" class="fullWidth"></div>
            </div>
            <div class="row">
                <div class="col"><p>M.O.M. Classification:</p></div>
                <div class="col"><input type="text" name="ministryClassification" placeholder="Image URL" value="<%= creature.ministryClassification %>" ></div>
            </div>
            <div class="row">
                <div class="col"><p>Location:</p></div>
                <div class="col"><input type="text" name="creatureLocation" placeholder="Location of Species" value="<%= creature.creatureLocation %>" class="fullWidth"></div>
            </div>
            <div class="row">
                <div class="col"><p>Image URL:</p></div>
                <div class="col"><input type="text" name="imageURL" placeholder="Image URL" value="<%= creature.imageURL %>" class="fullWidth"></div>
            </div>
            <div class="row">
                <div class="col"><p>Check Box If Rare:</p></div>
                <div class="col" class="fullWidth"><input type="checkbox" name="isRare" <%= creature.isRare ? "checked" : ""  %>></div>
            </div>
            <div class="row">
                <div class="col "><p>Description:</p></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <textarea id="txtid" name="description" rows="4" cols="50" maxlength="200" class="fullWidth"><%= creature.description%>
                </textarea></div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <input type="submit" value="Update Creature Information" class="btn bg-success text-white fw-bold">
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-1"></div>
</div>