<%- include("../partials/head.ejs")  %>

<div class="container">
    <div class="row text-center">
        <p>(NAVMENU)</p>
    </div>
    <div class="row ">
        <div class="col"><h1 class="text-center">List of Creatures</h1></div>
    </div>

    <div class="row d-flex justify-content-between mt-3">
        <%for (let i=0; i<creatures.length; i++) { %>
        <div class="col-3 text-center px-0">
            <h3 class="text-white"><%= creatures[i].creatureName %></h3>
            <a href="/creatures/<%= creatures[i]._id%>">
                <img src="<%= creatures[i].imageURL %>" alt="Image of a <%= creatures[i].creatureName %>" class="indexImage">
            </a>
        </div>

        <% if ((i+1) % 3 === 0) { %>
        </div>
        <div class="row d-flex justify-content-between mt-3">
        <% }%>

        <% } %>


    </div>
    
    <div class="row">
        <div class="col text-center mt-3">
            <button class="btn bg-info" onclick="window.location.href='/creatures/new'" >New Creature</button></a>
        </div>
    </div>
</div>