<%- include("../partials/head.ejs")  %>
<form action="/creatures?region=<%chosenContinent%>" method="post" class="container formBlackBackdrop">
    <div class="row">
        <div class="col text-center">
            <h1>Log New Creature</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="creatureNames">Species Name:</label>
            <input type="text" name="creatureName" id="creatureNames" class="formHalfTextbox">
        </div>  
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="rating">Classification:</label>
            <input type="text" name="ministryClassification" id="rating" class="formHalfTextbox">
        </div>  
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="creatureLocations">Known Location:</label>
            <input type="text" name="creatureLocation" id="creatureLocations" class="formHalfTextbox">
        </div>  
        <div class="col-lg-6 d-flex justify-content-between">
            <label class="formLabelText" for="Continent">Continent:&ensp;</label>
            <select name="" class="formHalfTextbox" id="Continent" disabled>
                <option value="Africa" <%= (chosenContinent === "Africa") ? "selected" : "" %>>Africa</option>
                <option value="Asia" <%= (chosenContinent === "Asia") ? "selected" : "" %>>Asia</option>
                <option value="Australia" <%= (chosenContinent === "Australia") ? "selected" : "" %>>Australia</option>
                <option value="NorthAmerica" <%= (chosenContinent === "NorthAmerica") ? "selected" : "" %>>North America</option>
                <option value="SouthAmerica" <%= (chosenContinent=== "SouthAmerica") ? "selected" : "" %>>South America</option>
                <option value="Europe" <%= (chosenContinent === "Europe") ? "selected" : "" %>>Europe</option>
            </select>
            <input type="hidden" name="continent" value="<%= chosenContinent %>">
        </div>
    </div>
        <div class="row mt-3">
            

            <div class="col-lg-6 d-flex justify-content-between">
                <label class="formLabelText" for="rarity">Check If Rare:</label>
                <input type="checkbox" name="isRare" id="rarity" class="formHalfTextbox">
            </div> 
            <div class="col-lg-6 d-flex justify-content-between"></div> 
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <label class="formLabelText" for="imageURLS">Image URL</label>
            </div>
            <div class="col-lg-6">
                <input type="text" name="imageURL" id="imageURLS" class="formFullTextbox mt-3">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="descriptionField" class="formLabelText">Description:</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-between">
                <textarea id="descriptionField" name="description" rows="4" cols="50" class="formFullTextbox"></textarea>
            </div>
        </div>  
        <div class="row mt-3">
            <div class="col text-center">
                <input type="submit" value="Log New Creature" class="btn slytherin fw-bold  p-3">
            </div>
            <div class="col text-center">
                <button class="btn gryffindor fw-bold p-3" type="button" onclick="window.location.href='/creatures?region=<%= chosenContinent %>'">Cancel</button>
            </div>
        </div>
    </div>
</form>