<%- include("../partials/head.ejs")  %>

<div class="row">
    <div class="col"><h1 class="text-center"><%= creature.creatureName %></h1></div>
</div>
<div class="centerImage">
    <div class="row largeImageDisplay">
        <img src="<%= creature.imageURL %>" alt="" >
    </div>    
</div>
<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-5 border text-center"><p>M.O.M. Classification:<br><%= creature.ministryClassification%></p></div>
    <div class="col-5 border text-center"><p>Rarity Status:<br><%= creature.isRare ? "RARE" : "COMMON"  %></p></div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col text-center border"><p>Location Found:<br><%= creature.creatureLocation %></p></div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col border"><p>Description:<br><%= creature.description %></p></div>
    <div class="col-1"></div>
</div>
<div class="row mt-3 text-center">
    <div class="col-1"></div>
    <div class="col"><button class="btn btn-info" onclick="window.location.href='/creatures/<%= id %>/edit'">Edit Page</button></div>
    <div class="col"><button class="btn btn-warning" onclick="window.location.href='/creatures'">Back To Creature List</button></div>
    <div class="col"><form action="/creatures/<%= creature._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete <%= creature.creatureName[0].toUpperCase() + creature.creatureName.slice(1).toLowerCase() %>" class="btn bg-danger">
    </form></div>
    <div class="col-1"></div>

    <!-- /items/:id -->
    
    
</div>